/* */
/* */
/* */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  color: #000;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
b,
i,
span {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
body,
html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
body {
  font-family: 'gilroylight', sans-serif;
  font-size: 16px;
  color: #000;
  font-style: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h5 {
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'gilroylight', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
h2 {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 33px;
  text-transform: none;
  line-height: 1.3;
  text-align: center;
}
.decor-yellow {
  display: inline-block;
  vertical-align: top;
  margin-top: -7px;
  margin-right: -35px;
  width: 50px;
  height: 50px;
  background: url("../img/sprite.png") -320px -122px no-repeat;
}
@media (max-width: 768px) {
  .decor-yellow {
    margin-top: -12px;
  }
}
.caps {
  text-transform: uppercase;
}
hr {
  margin: 0;
  margin-top: -2px;
}
p.hr-shadow-top {
  width: 100%;
  height: 20px;
  display: block;
  -webkit-box-shadow: 0px -10px 25px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -10px 25px -7px rgba(0, 0, 0, 0.2);
}
p.hr-shadow-bottom {
  width: 100%;
  height: 20px;
  display: block;
  -webkit-box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.2);
}
img {
  max-width: 100%;
  width: auto;
  vertical-align: bottom;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
}
tbody {
  width: 100%;
}
a {
  text-decoration: none;
}
.sticky-wrapper {
  position: relative;
  z-index: 10000;
}
.white {
  color: #fff;
}
.yellow {
  color: #ffdd00;
}
.link {
  display: inline-block;
  text-decoration: underline;
  color: #0012f8;
  font-family: 'gilroylight', sans-serif;
  font-size: 16px;
  -webkit-transition: color ease 0.2s;
  transition: color ease 0.2s;
}
.link:hover,
.link:active,
.link.active {
  color: #000;
}
.center {
  text-align: center;
}
.to_top {
  position: fixed;
  top: 0px;
  margin-top: 0;
  z-index: 5000;
  width: 100%;
  display: block;
}
.separator {
  display: block;
  height: 80px;
}
.row .col-1-5 {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  text-align: center;
}
@media (max-width: 768px) {
  .row .col-1-5 {
    width: 100%;
    display: block;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 370px;
    text-align: left;
  }
}
.row .col-2-3 {
  width: 55%;
  float: left;
}
@media (max-width: 768px) {
  .row .col-2-3 {
    width: 100%;
  }
}
.row .col-1-3 {
  width: 45%;
  float: left;
}
@media (max-width: 768px) {
  .row .col-1-3 {
    width: 100%;
  }
}
.block-border-shadow {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 24.44px 1.56px rgba(14, 14, 14, 0.08);
          box-shadow: 0px 2px 24.44px 1.56px rgba(14, 14, 14, 0.08);
  -webkit-border-radius: 6px;
          border-radius: 6px;
}
@media (max-width: 1230px) {
  h1 {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .separator {
    height: 40px;
  }
  h1 {
    font-size: 18px;
    font-weight: bold;
  }
  h2 {
    font-size: 22px;
  }
}
.main-header-bg,
.main-footer-bg {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 1px 12.88px 1.12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 12.88px 1.12px rgba(0, 0, 0, 0.15);
  background-color: #ffdd00;
}
.main-header,
.main-footer {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (max-width: 1230px) {
  .main-header,
  .main-footer {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .main-header,
  .main-footer {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
.main-header::after,
.main-footer::after {
  content: "";
  display: table;
  clear: both;
}
.main-header__logo,
.main-footer__logo {
  float: left;
  width: 252px;
  height: 55px;
  background: url(../img/logo.png) no-repeat center;
  background-size: contain;
}
.main-header__text,
.main-footer__text {
  float: left;
  width: 440px;
  text-align: left;
  font-family: 'gilroylight', sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;
  margin-left: 20px;
  margin-top: 5px;
  border-left: 2px solid #000;
}
.main-header__text span,
.main-footer__text span {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}
.main-header__text span:last-child,
.main-footer__text span:last-child {
  padding-left: 30px;
}
.main-header__phone,
.main-footer__phone {
  float: right;
  margin-top: 5px;
  text-align: right;
}
.main-header__phone .phone,
.main-footer__phone .phone {
  display: block;
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 22px;
  color: #000;
}
.main-footer__text {
  width: 735px;
}
@media (max-width: 1230px) {
  .main-header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .main-header__text {
    position: absolute;
    width: 100%;
    padding-left: 0;
    border-left: none;
    bottom: 0;
    left: 0;
    font-size: 14px;
  }
  .main-header__text span {
    width: 100%;
  }
  .main-footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .main-footer__text {
    font-size: 12px;
    width: -webkit-calc(100% - 450px);
    width: calc(100% - 450px);
  }
}
@media (max-width: 768px) {
  .main-header,
  .main-footer {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .main-header__logo,
  .main-footer__logo {
    width: 120px;
    height: 35px;
  }
  .main-header__text,
  .main-footer__text {
    display: none;
  }
  .main-header__phone .phone,
  .main-footer__phone .phone {
    font-size: 18px;
    padding-top: 2px;
  }
  .main-header__phone .link,
  .main-footer__phone .link {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5px;
    left: 0;
    right: 0;
    font-size: 14px;
  }
}
.first-screen-bg {
  width: 100%;
  height: 670px;
  background: url(../img/bg-fs.png) center bottom no-repeat;
  background-size: auto;
}
@media (max-width: 1230px) {
  .first-screen-bg {
    width: 100vw;
    height: -webkit-calc(100vw / 2.2);
    height: calc(100vw / 2.2);
    background-size: contain;
  }
}
@media (max-width: 768px) {
  .first-screen-bg {
    min-height: 250px;
    height: auto;
    background-position: center;
  }
}
.first-screen {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  padding-top: 210px;
}
@media (max-width: 1230px) {
  .first-screen {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .first-screen {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
@media (max-width: 1230px) {
  .first-screen {
    padding-top: -webkit-calc(100vw / 7.5);
    padding-top: calc(100vw / 7.5);
  }
}
.first-screen .button {
  margin-top: -30px;
}
@media (max-width: 768px) {
  .first-screen .button {
    margin-top: 10px;
  }
}
.first-screen__block-title {
  display: block;
  width: 100%;
  padding: 45px 30px;
  border: 10px solid #ffdd00;
  background-color: rgba(255, 255, 255, 0.75);
}
@media (max-width: 1230px) {
  .first-screen__block-title {
    width: 85%;
    margin: 0 auto;
    padding: 25px 0;
  }
}
@media (max-width: 768px) {
  .first-screen__block-title {
    border-width: 5px;
    width: 100%;
    padding: 18px 0;
  }
}
.first-screen__block-title p {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1230px) {
  .first-screen__block-title p {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .first-screen__block-title p {
    font-size: 20px;
  }
}
.button {
  display: block;
  margin: 0 auto;
  outline: none;
  border: 1px solid #fff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  background-color: #ffdd00;
  -webkit-box-shadow: 0px 5px 25px 0.5px rgba(255, 221, 0, 0.96);
          box-shadow: 0px 5px 25px 0.5px rgba(255, 221, 0, 0.96);
  font-family: 'gilroylight', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  white-space: nowrap;
  line-height: 2.7;
  padding: 0 30px;
}
@media (max-width: 768px) {
  .button {
    -webkit-border-radius: 20px;
            border-radius: 20px;
    font-size: 16px;
    line-height: 2.4;
    padding: 0 20px;
  }
}
.button:hover {
  -webkit-box-shadow: 0 5px 25px 0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 25px 0.5px rgba(0, 0, 0, 0.2);
  border-color: #d5d5d5;
}
.benefit-bg {
  width: 100%;
  background-color: #202427;
  padding: 30px 0;
}
.benefit {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 1230px) {
  .benefit {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .benefit {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
.benefit__img {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite.png);
  background-size: auto;
  background-repeat: no-repeat;
  width: 80px;
  height: 100px;
}
@media (max-width: 768px) {
  .benefit__img {
    display: block;
    margin: 0 auto;
  }
}
.benefit__text {
  display: inline-block;
  vertical-align: middle;
  font-family: 'gilroylight', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #fff;
  width: -webkit-calc(100% - 85px);
  width: calc(100% - 85px);
}
@media (max-width: 1230px) {
  .benefit__text {
    font-size: 17px;
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .benefit__text {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
.advantage {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 1230px) {
  .advantage {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .advantage {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
.advantage__img {
  display: block;
  margin: 0 auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
}
@media (max-width: 1230px) {
  .advantage__img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 768px) {
  .advantage__img {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
}
.advantage__text {
  display: block;
  width: 135px;
  margin: 0 auto;
  font-family: 'gilroylight', sans-serif;
  font-size: 18px;
  color: #000;
  text-align: center;
}
@media (max-width: 1230px) {
  .advantage__text {
    font-size: 16px;
    width: 80%;
  }
}
@media (max-width: 768px) {
  .advantage__text {
    display: inline-block;
    vertical-align: middle;
    width: -webkit-calc(100% - 105px);
    width: calc(100% - 105px);
    margin: 0;
    text-align: left;
  }
}
.slider {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1030px;
  padding-top: 50px;
  position: relative;
  z-index: 11;
}
@media (max-width: 1230px) {
  .slider {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .slider {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
@media (max-width: 1230px) {
  .slider {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .slider {
    padding: 0;
  }
}
.slider-item {
  height: auto;
  min-height: 580px;
  margin: 20px;
  padding: 40px;
  background-color: #fff;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0px 2px 24.44px 1.56px rgba(14, 14, 14, 0.08);
          box-shadow: 0px 2px 24.44px 1.56px rgba(14, 14, 14, 0.08);
}
.slider-item__subtitle {
  display: block;
  margin: 0 auto;
  font-family: 'gilroylight', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  width: 75%;
}
@media (max-width: 768px) {
  .slider-item__subtitle {
    font-size: 14px;
  }
}
.slider-item__list {
  margin-top: 50px;
  list-style: none;
}
@media (max-width: 768px) {
  .slider-item__list {
    margin-top: 20px;
  }
}
.slider-item__list li {
  font-family: 'gilroylight', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 1230px) {
  .slider-item__list li {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .slider-item__list li {
    font-size: 12px;
  }
}
.owl-carousel .owl-item img.slider-img {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .owl-carousel .owl-item img.slider-img {
    margin-top: 20px;
  }
}
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  margin-top: -24px;
  left: auto;
  right: auto;
  font-size: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1230px) {
  .owl-carousel .owl-prev,
  .owl-carousel .owl-next {
    width: 35px;
    height: 35px;
    margin-top: -17px;
  }
}
.owl-carousel .owl-prev {
  background-image: url(../img/prev.png);
  left: -70px;
}
@media (max-width: 1230px) {
  .owl-carousel .owl-prev {
    left: -30px;
  }
}
@media (max-width: 768px) {
  .owl-carousel .owl-prev {
    left: 30px;
  }
}
.owl-carousel .owl-next {
  background-image: url(../img/next.png);
  right: -70px;
}
@media (max-width: 1230px) {
  .owl-carousel .owl-next {
    right: -30px;
  }
}
@media (max-width: 768px) {
  .owl-carousel .owl-next {
    right: 30px;
  }
}
.owl-carousel .owl-dots {
  width: 100%;
  text-align: center;
}
.owl-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 21px;
  height: 21px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #ffdd00;
  background-color: #fff;
  -webkit-transition: background-color ease 0.3s, border-width ease 0.3s;
  transition: background-color ease 0.3s, border-width ease 0.3s;
}
.owl-carousel .owl-dot.active {
  border-width: 5px;
  background-color: #202427;
}
.profitably {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  height: auto;
}
@media (max-width: 1230px) {
  .profitably {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .profitably {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
@media (max-width: 1230px) {
  .profitably {
    min-height: 100px;
  }
}
.profitably__bg-desktop {
  position: absolute;
  z-index: 8;
  width: 573px;
  height: 683px;
  top: -180px;
  left: -300px;
  background: url(../img/bg-1.jpg) no-repeat center;
  background-size: contain;
}
@media (max-width: 1230px) {
  .profitably__bg-desktop {
    display: none;
  }
}
.profitably .profitably-img {
  position: absolute;
  z-index: 9;
  width: 1020px;
  height: 410px;
  bottom: 0;
  left: -210px;
  background: url(../img/bg-1.jpg) no-repeat center;
  background-size: contain;
}
@media (max-width: 1230px) {
  .profitably .profitably-img {
    left: -35%;
  }
}
@media (max-width: 768px) {
  .profitably .profitably-img {
    position: static;
    width: 100%;
    height: -webkit-calc(100vw / 2.5);
    height: calc(100vw / 2.5);
  }
}
.profitably__list {
  display: block;
  list-style: none;
  padding-top: 30px;
  height: 450px;
}
@media (max-width: 768px) {
  .profitably__list {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
}
.profitably__list li {
  display: block;
  font-family: 'gilroylight', sans-serif;
  font-size: 18px;
  padding-bottom: 30px;
  position: relative;
  text-align: left;
}
@media (max-width: 768px) {
  .profitably__list li {
    font-size: 16px;
    padding-bottom: 15px;
    margin-left: 40px;
  }
}
.profitably__list li:before {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: -35px;
  content: "";
  width: 23px;
  height: 23px;
  background: url(../img/sprite.png) no-repeat -564px -18px;
}
.about-bg {
  width: 100%;
  height: auto;
  background: url(../img/bg-about.jpg) no-repeat top center;
  background-size: cover;
  padding: 110px 0;
}
@media (max-width: 768px) {
  .about-bg {
    padding: 50px 0;
  }
}
.about {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1130px;
  height: 660px;
  padding: 20px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 2px dashed #ffdd00;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.65);
          box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.65);
}
@media (max-width: 1230px) {
  .about {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .about {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
@media (max-width: 1230px) {
  .about {
    max-width: 90%;
    padding: 15px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .about {
    min-width: 90vw;
    max-width: 90vw;
  }
}
.about > p {
  font-family: 'gilroylight', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  padding: 15px;
  text-align: left;
}
@media (max-width: 768px) {
  .about > p {
    font-size: 14px;
    padding: 10px 0;
  }
}
.about .row {
  padding-top: 30px;
}
.about__item-title {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
  line-height: 1.7;
  position: relative;
  z-index: 10;
  padding: 0 15px;
  text-align: left;
}
@media (max-width: 768px) {
  .about__item-title {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
}
.about__item-title span {
  position: relative;
  z-index: 10;
  text-align: left;
}
.about__item-title .decor {
  position: absolute;
  z-index: 9;
  content: "";
  width: 56px;
  height: 56px;
  top: -15px;
  left: -15px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}
div:nth-child(1) .about__item-title .decor {
  background-position: -20px -120px;
}
div:nth-child(2) .about__item-title .decor {
  background-position: -120px -120px;
}
div:nth-child(3) .about__item-title .decor {
  background-position: -220px -120px;
}
.about__item-text {
  font-family: 'gilroylight', sans-serif;
  font-size: 16px;
  line-height: 1.7;
  text-align: left;
  padding: 0 15px;
}
@media (max-width: 768px) {
  .about__item-text {
    font-size: 14px;
  }
}
.fransh {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}
@media (max-width: 1230px) {
  .fransh {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .fransh {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
.fransh .flex {
  padding-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 11;
}
@media (max-width: 768px) {
  .fransh .flex {
    display: block;
  }
}
.fransh .fransh-bg-book {
  position: absolute;
  z-index: 10;
  width: 745px;
  height: 522px;
  top: 50px;
  left: -150px;
  background-image: url(../img/bg-book.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1230px) {
  .fransh .fransh-bg-book {
    width: 600px;
    height: 425px;
    top: 80px;
    left: -120px;
  }
}
@media (max-width: 768px) {
  .fransh .fransh-bg-book {
    position: static;
    width: 100%;
    height: 300px;
    background-position: center;
  }
}
.fransh__btn {
  position: absolute;
  z-index: 12;
  top: 450px;
  left: 50%;
  margin-left: -140px;
}
@media (max-width: 768px) {
  .fransh__btn {
    position: static;
    margin-top: -50px;
    margin-bottom: 30px;
    margin-left: auto;
  }
}
.fransh .drop-down-list {
  list-style: none;
}
.fransh .drop-down-list li {
  padding: 10px;
  padding-left: 30px;
  text-align: left;
}
@media (max-width: 768px) {
  .fransh .drop-down-list li {
    padding: 7px;
  }
}
.fransh .drop-down-list .item-title {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}
@media (max-width: 768px) {
  .fransh .drop-down-list .item-title {
    font-size: 18px;
  }
}
.fransh .drop-down-list .item-title:before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/sprite.png);
  background-position: -765px -12px;
  background-repeat: no-repeat;
}
.fransh .drop-down-list li.active .item-title:before {
  background-position: -817px -13px;
}
.fransh .drop-down-list .item-title:hover,
.fransh .drop-down-list li.active .item-title {
  color: #ffdd00;
  text-decoration: underline;
}
.fransh .drop-down-list .item-text {
  display: none;
  font-family: 'gilroylight', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 25px;
}
@media (max-width: 768px) {
  .fransh .drop-down-list .item-text {
    font-size: 14px;
  }
}
.fransh .drop-down-list li.active > .item-text {
  display: block;
}
.graph-bg {
  width: 100%;
  background-color: #202427;
  padding: 70px 0;
}
@media (max-width: 768px) {
  .graph-bg {
    padding: 40px 0;
  }
}
.graph {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 1230px) {
  .graph {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .graph {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
.graph__text {
  font-family: 'gilroylight', sans-serif;
  font-size: 34px;
  color: #fff;
  text-align: center;
}
@media (max-width: 768px) {
  .graph__text {
    font-size: 22px;
  }
}
.graph__num {
  display: block;
  margin: 0 auto;
  padding-top: 47px;
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 42px;
  color: #000;
  text-align: center;
}
.graph__img {
  display: block;
  margin: 0 auto;
  background-image: url(../img/sprite.png);
  background-size: auto;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
}
@media (max-width: 768px) {
  .graph__img {
    margin-bottom: 20px;
  }
}
.graph__city {
  display: inline-block;
  font-family: 'gilroylight', sans-serif;
  font-size: 30px;
  color: #fff;
  padding: 0 30px;
}
@media (max-width: 768px) {
  .graph__city {
    font-size: 22px;
  }
}
.graph__city:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 40px;
  height: 55px;
  background-image: url(../img/sprite.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -710px -10px;
}
@media (max-width: 344px) {
  .graph .col-xs-6 {
    margin: 0 -5px;
  }
}
.crm-bg {
  width: 1250px;
  height: auto;
  min-height: 480px;
  margin: 0 auto;
  background: url(../img/bg-mac.png) no-repeat 110% bottom;
  background-size: auto;
}
@media (max-width: 1230px) {
  .crm-bg {
    width: 820px;
    margin: 0 auto;
    min-height: 400px;
    background-size: 620px 250px;
    background-position: 150% bottom;
  }
}
@media (max-width: 768px) {
  .crm-bg {
    width: 100%;
    padding-bottom: 190px;
    background-size: 446px 180px;
    background-position: center bottom;
  }
}
.crm {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 1230px) {
  .crm {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .crm {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
.crm .button {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .crm .button {
    margin-top: 20px;
  }
}
.crm p {
  line-height: 1.3;
  padding: 15px 40px 15px 40px;
  text-align: left;
}
@media (max-width: 1230px) {
  .crm p {
    padding: 15px 0px 15px 10px;
  }
}
.profit {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  padding-top: 50px;
}
@media (max-width: 1230px) {
  .profit {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .profit {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
@media (max-width: 768px) {
  .profit {
    padding-top: 20px;
  }
}
.profit__calc-text {
  font-family: 'gilroylight', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  padding-top: 20px;
}
@media (max-width: 1230px) {
  .profit__calc-text {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .profit__calc-text {
    font-size: 18px;
  }
}
.profit__calc-result {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  padding-bottom: 30px;
}
@media (max-width: 1230px) {
  .profit__calc-result {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .profit__calc-result {
    font-size: 22px;
    padding-bottom: 0px;
  }
}
.ch_wrapper {
  display: block;
  margin: 15px 0;
  width: 100%;
  padding-left: 36px;
}
.ch_wrapper input[type=checkbox],
.ch_wrapper input[type=radio] {
  display: none;
}
.ch_wrapper label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  font-family: 'gilroylight', sans-serif;
  font-size: 26px;
}
@media (max-width: 1230px) {
  .ch_wrapper label {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .ch_wrapper label {
    font-size: 18px;
  }
}
.ch_wrapper input[type=checkbox]:checked + label,
.ch_wrapper input[type=radio]:checked + label {
  color: #000;
}
.ch_wrapper input[type=checkbox] + label:before,
.ch_wrapper input[type=radio] + label:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  position: absolute;
  left: -40px;
  top: 4px;
  background-color: #fff;
  border: 4px solid #ffdd00;
}
@media (max-width: 768px) {
  .ch_wrapper input[type=checkbox] + label:before,
  .ch_wrapper input[type=radio] + label:before {
    top: -2px;
  }
}
.ch_wrapper input[type=radio] + label:before {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.ch_wrapper input[type=checkbox]:checked + label:before,
.ch_wrapper input[type=radio]:checked + label:before {
  content: "\2713";
  font-size: 30px;
  color: #000;
  text-align: center;
  line-height: 10px;
  font-weight: bold;
}
.ch_wrapper input[type=radio]:checked + label:before {
  content: "";
  background-color: #000;
  -webkit-box-shadow: inset 0 0 0 3px #fff;
          box-shadow: inset 0 0 0 3px #fff;
}
.selector {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.selector > p {
  font-family: 'gilroylight', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}
@media (max-width: 1230px) {
  .selector > p {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .selector > p {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
}
.selector > p b {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 33px;
  font-weight: normal;
}
@media (max-width: 1230px) {
  .selector > p b {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .selector > p b {
    font-size: 20px;
  }
}
.selector .ui-widget-content .ui-state-default {
  width: 20px;
  height: 20px;
  background-color: #ffdd00;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 4px solid #fff;
  -webkit-box-shadow: inset 0 0 0 1px #626262, 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0 1px #626262, 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}
.selector .ui-slider-horizontal .ui-slider-range {
  height: 8px;
  background-color: #ffdd00;
}
.selector .ui-filter {
  height: 8px;
  background-color: #d5d5d5;
}
.selector .ui-widget.ui-widget-content {
  border: none;
}
.selector .ui-slider-horizontal {
  height: 8px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.variant {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 1230px) {
  .variant {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .variant {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
.variant__block-wr {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #e3e2e2;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 24.44px 1.56px rgba(14, 14, 14, 0.08);
          box-shadow: 0px 2px 24.44px 1.56px rgba(14, 14, 14, 0.08);
  overflow: hidden;
}
.variant__block-wr .row {
  padding: 0 50px;
}
@media (max-width: 1230px) {
  .variant__block-wr .row {
    padding: 0 30px;
  }
}
@media (max-width: 768px) {
  .variant__block-wr .row {
    padding: 30px 0;
  }
}
.variant__block-title {
  background-color: #ffdd00;
  border-bottom: 2px solid #d7bb03;
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  padding: 15px;
}
@media (max-width: 1230px) {
  .variant__block-title {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .variant__block-title {
    font-size: 20px;
  }
}
.variant__block-text-b {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 33px;
  line-height: 1.2;
  text-align: center;
  padding: 30px;
}
@media (max-width: 1230px) {
  .variant__block-text-b {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .variant__block-text-b {
    font-size: 22px;
    padding: 20px;
  }
}
.variant__block-border-yellow {
  display: block;
  width: 100%;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 2px solid #ffdd00;
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  padding: 50px;
  background: url(../img/bg-form.png) no-repeat right center;
}
@media (max-width: 1230px) {
  .variant__block-border-yellow {
    font-size: 24px;
    padding: 30px;
    background-size: contain;
  }
}
@media (max-width: 768px) {
  .variant__block-border-yellow {
    font-size: 20px;
    padding: 20px;
    background-image: none;
  }
}
.variant__list-wr {
  padding: 20px;
}
@media (max-width: 768px) {
  .variant__list-wr {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .variant ul.style-list {
    padding: 0;
    margin-bottom: 0;
  }
}
ul.style-list {
  display: block;
  list-style: none;
  padding-top: 30px;
  padding-left: 35px;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  ul.style-list {
    padding-bottom: 20px;
  }
}
ul.style-list li {
  display: block;
  font-family: 'gilroylight', sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
  position: relative;
  text-align: left;
}
@media (max-width: 768px) {
  ul.style-list li {
    font-size: 16px;
    padding-bottom: 15px;
    margin-left: 40px;
  }
}
ul.style-list li:before {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: -35px;
  content: "";
  width: 23px;
  height: 23px;
  background: url(../img/sprite.png) no-repeat -564px -18px;
}
.stage {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 1230px) {
  .stage {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .stage {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
.stage__item {
  display: block;
  width: 100%;
  min-height: 230px;
  height: auto;
  margin-bottom: 30px;
  padding: 35px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5.64px 0.36px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 3px 5.64px 0.36px rgba(0, 0, 0, 0.08);
  background-position: 95% center;
  background-repeat: no-repeat;
}
@media (max-width: 1230px) {
  .stage__item {
    background-size: auto 70%;
  }
}
@media (max-width: 768px) {
  .stage__item {
    min-height: 100px;
  }
}
.stage__item p {
  text-align: left;
}
@media (max-width: 1230px) {
  .stage__item p {
    font-size: 14px;
  }
}
.stage__item b {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
}
.stage__item.white {
  background-color: #fff;
}
.stage__item.gray {
  background-color: #f8f8f8;
}
.stage__item.bg-1 {
  background-image: url(../img/1.png);
}
.stage__item.bg-2 {
  background-image: url(../img/2.png);
}
.stage__item.bg-3 {
  background-image: url(../img/3.png);
}
.stage__item.bg-4 {
  background-image: url(../img/4.png);
}
.stage__item.bg-5 {
  background-image: url(../img/5.png);
}
.expert-bg {
  width: 100%;
  background: url(../img/bg-expert.jpg) no-repeat center;
  background-size: auto;
}
@media (max-width: 768px) {
  .expert-bg {
    background-size: cover;
  }
}
.expert {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 1230px) {
  .expert {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .expert {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
@media (max-width: 768px) {
  .expert .row {
    border-bottom: 3px solid #ffdd00;
  }
}
.expert * {
  color: #fff;
}
.expert .line-yellow-right {
  position: relative;
}
.expert .line-yellow-right:after {
  content: "";
  width: 3px;
  height: 130px;
  background-color: #ffdd00;
  position: absolute;
  top: 0;
  right: -30px;
}
@media (max-width: 768px) {
  .expert .line-yellow-right:after {
    display: none;
  }
}
.expert__block-photo .img {
  width: 145px;
  height: 145px;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 768px) {
  .expert__block-photo .img {
    display: block;
    margin: 0 auto 10px;
  }
}
.expert__block-photo .wr {
  width: -webkit-calc(100% - 150px);
  width: calc(100% - 150px);
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 768px) {
  .expert__block-photo .wr {
    display: block;
    margin: 0 auto 10px;
  }
}
.expert__block-photo .img.ex-1 {
  background-image: url(../img/ex1.png);
}
.expert__block-photo .img.ex-2 {
  background-image: url(../img/ex2.png);
}
.expert__block-photo .img.ex-3 {
  background-image: url(../img/ex3.png);
}
.expert__block-photo .text-b {
  padding-left: 5px;
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 22px;
}
.expert__block-photo .text-b span {
  display: block;
  padding-bottom: 15px;
  font-family: 'gilroylight', sans-serif;
  font-size: 18px;
}
.expert__reviews {
  text-align: left;
  padding: 20px;
  width: 95%;
}
.form-wrapper {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 1230px) {
  .form-wrapper {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .form-wrapper {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 20px 30px;
  }
}
.form-wrapper .block-border-shadow {
  padding: 0;
  overflow: hidden;
}
.form {
  background: url(../img/bg-form.png) no-repeat right 100px;
  background-size: auto;
  padding-right: 20px;
}
.form__img {
  width: 100%;
  height: 100%;
  margin-left: -20px;
  min-height: 550px;
  background: url(../img/photo-form.jpg) no-repeat center;
  background-size: cover;
}
@media (max-width: 768px) {
  .form__img {
    min-height: 300px;
  }
}
.form__title {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 26px;
  padding-top: 65px;
}
.form__subtitle {
  padding-top: 20px;
  padding-bottom: 30px;
}
.form .input {
  display: block;
  margin: 0 auto 30px;
  width: 100%;
  max-width: 360px;
  height: 50px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  outline: none;
  padding: 0 30px;
}
.hidden {
  display: none;
}
.wrapper-x {
  overflow: hidden !important;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.wrapper-y {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 65px 0;
  min-height: 100vh;
}
